:root {
  --primary-color: #e60013;
  --colortext: #ffffff;
  --font-primary-text: "Barlow", Courier, monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-family: var(--font-primary-text);
}

button {
  font-family: var(--font-primary-text);
}

h1 {
  color: var(--colortext);
}

footer {
  background-color: var(--primary-color);
  color: var(--colortext);
  padding: 3rem;
}
