:root {
  --primary-color: #e60013;
  --second-color: rgb(0, 0, 0);
  --colortext: #fefefefe;
  --font-primary-text: "Barlow", Courier, monospace;
  --font-title: "Bangers", Courier, monospace;
}

nav {
  padding: 2rem;
}

h1 {
  color: var(--colortext);
  font-family: var(--font-title);
  font-size: 4rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

img {
  height: 8.12rem;
  width: 8.12rem;
}

a {
  text-decoration: none;
  color: var(--colortext);
  font-family: var(--font-title);
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

a:hover {
  color: var(--second-color);
}

header {
  background-color: var(--primary-color);
}
