* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e60013;
  color: #fff;
  font-family: "Bangers", Courier, monospace;
}
main {
  margin: 20px;
  font-family: "Barlow", Courier, monospace;
}
img {
  height: 60px;
  width: 60px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
nav a {
  padding: 10px;
}
a:hover {
  color: rgb(0, 0, 0);
}

.team-member {
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
  padding: 2rem;
}

.team-member.left {
  flex-direction: row;
}

.team-member.right {
  flex-direction: row-reverse;
}

.team-member img {
  width: 35rem;
  height: 13rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
  margin: 0 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.text-container h2 {
  margin: 0;
  font-size: 1.5em;
}

.text-container p {
  margin: 5px 0 0;
}

footer {
  height: 100px;
  background-color: #e60013;
  text-align: center;
  padding: 30px;
  color: white;
  font-family: "Bangers", Courier, monospace;
}
