.card {
  width: 20rem;
  padding: 1rem;
  border-radius: 17px;
  font-size: 1.6rem;
  height: 27rem;
  text-align: center;
  margin: 3rem;
  opacity: 1;
  cursor: pointer;
}
.card:hover {
  filter: brightness(87%);
}
.card h3 {
  font-size: 2rem;
  font-style: bold;
  margin: 1rem;
}
.card p {
  font-size: 1.4rem;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

figcaption {
  padding-top: 1.5rem;
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: bold;
}
