:root {
  --primary-color: #e60013;
  --second-color: rgb(0, 0, 0);
  --colortext: #fefefefe;
  --font-primary-text: "Barlow", Courier, monospace;
  --font-title: "Bangers", Courier, monospace;
}

.rules {
  padding: 3rem;
  text-align: center;
}

p {
  text-align: center;
  line-height: 3rem;
  font-size: 1.1rem;
}

.listrules {
  display: block;
  justify-content: center;
  width: 38%;
  margin: auto;
  line-height: 1.5rem;
  font-family: var(--font-primary-text);
  font-size: 1.1rem;
}

button {
  background-color: var(--colortext);
  color: var(--primary-color);
  border-color: var(--primary-color);
  width: 15.6rem;
  height: 6.25rem;
  padding: 0.7rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.7s ease;
  margin: 1rem;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--colortext);
  border-color: var(--second-color);
}

.button {
  text-align: center;
}

.falsebutton {
  background-color: var(--colortext);
  color: var(--primary-color);
  border: 0.15rem solid;
  border-color: var(--primary-color);
  width: 15.6rem;
  padding: 2.39rem 4.4rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.7s ease;
  margin: 1rem;
  font-family: var(--font-primary-text);
  letter-spacing: 0;
}

.falsebutton:hover {
  background-color: var(--primary-color);
  color: var(--colortext);
  border-color: var(--second-color);
}
