.rules {
  padding: 3rem;
}

.listrules {
  display: block;
  justify-content: center;
  text-align: left;
  width: 38%;
  margin: auto;
  line-height: 1.5rem;
}

button {
  width: 15.6rem;
  height: 6.25rem;
  padding: 0.7rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.7s ease;
  margin: 1rem;
}

.button {
  text-align: center;
}

.falsebutton {
  border: 0.15rem solid;
  width: 15.6rem;
  padding: 2.39rem 4.4rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.7s ease;
  margin: 1rem;
  letter-spacing: 0;
}
